.display-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    width: fit-content;
    margin: 0 auto;
}
#profile-picture{
    overflow: hidden;
    clip-path: circle();
    max-height: 500px;
    
}