.display-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}
#profile-picture{
    overflow: hidden;
    clip-path: circle();
    max-height: 250px;
    
}
#background-img{
    width: 100vw;
    height: 350px;
    object-fit: cover;
}