.navbar{
    position: sticky;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--main-theme);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.avatar {
    overflow: hidden;
    clip-path: circle();
    height: 100%; 
}

.img-link{
    height: 100%;
    display: flex;
    align-items: center;
}
.left-nav, .right-nav{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 5%;
}
.left-nav > a {
    margin: 5px;
    color: white;
    text-decoration: none
}